# OS files
.DS_Store
__MACOSX/

# IDE files
.idea/
.vscode/
*.iml

# Scala / SBT build artifacts
target/
project/target/
project/project/
.ivy2/
.sbt/

# Logs
logs/
*.log

# Compiled classes
*.class

# Misc junk
null/
